@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-family3: 'Playfair Display', serif;
    --font-family1: 'Abhaya Libre', serif;
    --font-family2: 'Josefin Sans', sans-serif;

    --big-font: clamp(3rem, 5vw, 4rem);

    --main-color:#EBEDCB;
    --primary-color:#f38b8b; 
    /* --primary-color:#17a06c;     */
    --secondary-color: rgb(39, 101, 129);  
    --highlight-hover-clr: #17a06c;

    --text-clr1: #332c06;  /* Dark Gray for primary text */
    --text-clr2: #f06767;
    --highlight-text-clr: #FDF3DD; /* highlighted or important text */

    --box-shadow: 0 2px 6px hsla(220, 32%, 8%, .3);

    --btn-color:conic-gradient(#f06767 25%,#0000 0) 0 0/calc(2*10px) calc(10px/9.5),
		  conic-gradient(#f06767 25%,#0000 0) 0 0/calc(10px/9.5) calc(2*10px),
		  repeating-conic-gradient(#0000 0 25%,#f06767 0 50%) 
		   10px 0 /calc(2*10px) calc(2*10px),
		  radial-gradient(50% 50%,#BFBFBF 98%,#f06767) 
		   0 0/10px 10px

}
html{
    color-scheme: light dark;
}
body{
    font-family: var(--font-family2);
    font-size: 1.125rem;
    line-height: 1.3;
    scroll-behavior: smooth;
    /* background: rgb(218, 235, 162); */
}
img,
picture,
svg {
    max-width: 100%;
    display: block;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: 1rem;
}
.primary__btn{
    padding: .8rem 1.4rem;
    margin: 1rem;
    color: #332c06;
    border: none;
    cursor: pointer;
}
/* main{
    width: min(69ch, 100% - 4rem);
    margin-inline: auto;
} */


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-color);
    box-shadow: var(--box-shadow);
    z-index: 999;
}


header nav{
    padding: .5rem;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    margin-right: 1rem;
}
nav ul li a{
    font-family: var(--font-family1);
    color: var(--text-clr1);
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s;
}
nav ul li a:hover{
    color: var(--text-clr2);
}

/* logo design here */
.logo a span{
    text-decoration: 1px solid underline;
    font-size: 2.2rem;
    font-style: italic;
    color: rgb(234, 255, 47);
    text-shadow: 1px 1px 2px black;
}
.logo span:nth-child(2){
    color: #f06767;
    font-size: 28px;
}




/* Hero section styling */


.hero{
    background:radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#EDF0EE 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
    radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#EDF0EE 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
    radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#EDF0EE 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
    radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#EDF0EE 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
    repeating-conic-gradient(#FFFFFF 0 25%,#0000 0 50%) 0 0/calc(2*32px) calc(2*32px),
    radial-gradient(#0000 66%,#EDF0EE 68% 70%,#0000 72%) 0 calc(32px/2)/32px 32px
    #FFFFFF;
    height: 100vh;
    margin-top: 3.8rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.hero-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.hero-content{
    text-align: center;
    flex-direction: column;
    padding: 1rem;
}
.hero-content h1{
    font-family: var(--font-family1);
    /* color: #918841; */
    color: #C1E567;
    font-size: clamp(3rem, 5vw, 4.5rem);
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    word-spacing: 1rem;
}
.hero-content p{
    font-size: clamp(.6rem, 4vw, 1.5rem);
    margin-bottom: 1rem;
    padding: 1rem;
}
.btn{
    font-size: clamp(.8rem, 2vw, 1.4rem);
	background: 
    radial-gradient(circle, transparent 20%, #918841 20%, #918841 80%, transparent 80%, transparent) 0% 0% / 58px 58px, radial-gradient(circle, transparent 20%, #918841 20%, #918841 80%, transparent 80%, transparent) 29px 29px / 58px 58px, linear-gradient(#B6A476 1px, transparent 1px) 0px -0.5px / 29px 29px, linear-gradient(90deg, #B6A476 1px, #918841 1px) -0.5px 0px / 29px 29px #918841;
    color: #fff;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s;
}
.btn:hover{
    scale: 1.1;
    color: #332c06;
    background: radial-gradient(circle, transparent 20%, #f06767 20%, #f06767 80%, transparent 80%, transparent) 0% 0% / 58px 58px, radial-gradient(circle, transparent 20%, #f06767 20%, #f06767 80%, transparent 80%, transparent) 29px 29px / 58px 58px, linear-gradient(#B6A476 1px, transparent 1px) 0px -0.5px / 29px 29px, linear-gradient(90deg, #B6A476 1px, #f06767 1px) -0.5px 0px / 29px 29px #f06767;
}


/* ======= MAIN Part   ======== */


.main{
    /* width: min(85ch, 100% - 3rem); */
    margin-inline: auto;
    
}

/* ---- Services Styling ---- */

#services{
    /* width: min(85ch, 100% - 3rem); */
    margin: 0 auto;
    padding: 2rem 0;
    background:
    radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#C1E567 68% 70%,#0000 72%) 27px 27px/calc(2*27px) calc(2*27px),
    radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#C1E567 68% 70%,#0000 72%) 27px 27px/calc(2*27px) calc(2*27px),
    radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#C1E567 68% 70%,#0000 72%) 0 0/calc(2*27px) calc(2*27px),
    radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#C1E567 68% 70%,#0000 72%) 0 0/calc(2*27px) calc(2*27px),
    repeating-conic-gradient(#E4ED86 0 25%,#0000 0 50%) 0 0/calc(2*27px) calc(2*27px),
    radial-gradient(#0000 66%,#C1E567 68% 70%,#0000 72%) 0 calc(27px/2)/27px 27px
    #E4ED86;
}
.section-title{
    text-align: center;
    font-family: var(--font-family1);
    font-size: 1.5rem;
    color: #918841;
}
#services .box__container{
    width: min(85ch, 100% - 3rem);
    margin: 1rem auto;
    padding: 0;
    text-align: center;
}
.box__container .container-title{
    font-family: var(--font-family1);
    color: white;
    font-size: 2.2rem;
    margin-bottom: .5rem;
    text-shadow: 1px 1px 2px black;
}
.box__container p{
    color: var(--text-clr1);
    font-size: clamp(.6rem, 4vw, 1.3rem);
    font-family: var(--font-family2);
    margin-bottom: 1rem;
    border-bottom: 1px solid white;

}
.container__wrapper{
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 2.5rem;
}
.card{
    padding: 5px;
}
.container__wrapper .card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-content i{
    margin-bottom: 8px;
    width: 100%;
    text-align: center;
    font-size: 4.5rem;
    background: rgba(218, 213, 213, 0.637);
    color: rgb(68, 54, 54);
    border-radius: 2px;
    box-shadow:  var(--box-shadow);
    transition: all 0.3s;
}
.card:hover i{
    background: #fff;
    color: #f06767 ;
    border-radius: 20px;
}
.card-content .title{
    color: var(--text-clr1);
    font-size: 18px;
    font-weight: 400;
}
.card:hover .title{
    color: #f06767 ;
}


/* #services .second-title{
    font-size: 2rem;
    text-align: center;
    color: rgb(39, 101, 129);
}
span{
    color: rgb(234, 255, 47);
    text-shadow: 1px 1px 2px black;
} */

/* .service-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 1.5rem;
    
} */




/* ---- About Styling ---- */

#about{
    background:radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#EDF0EE 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
    radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#EDF0EE 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
    radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#EDF0EE 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
    radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#EDF0EE 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
    repeating-conic-gradient(#FFFFFF 0 25%,#0000 0 50%) 0 0/calc(2*32px) calc(2*32px),
    radial-gradient(#0000 66%,#EDF0EE 68% 70%,#0000 72%) 0 calc(32px/2)/32px 32px
    #FFFFFF;
}
#about .box__container{
    width: min(85ch, 100% - 3rem);
    margin: 1rem auto;
    padding: 0;

}
#about .box__container .container-title{
    font-family: var(--font-family1);
    color: #C1E567;
    font-size: 2.5rem;
    text-decoration: 1px solid underline;
    text-shadow: 1px 1px 2px black;
}
#about .container__wrapper{
    flex-flow: nowrap;
    
}
:is(.content, .images){
   max-width: 400px;
}


@media screen and (500px >= width){
    #about .container__wrapper{
        flex-direction: column;
        
    }
}





/* ------- Youtube page start hare ------- */
.youtube{
    background: #17a06c;
}
.youtube-conent .y-title{
    color: var(--main-color);
}

button i{
    display: inline-block;
    color: #332c06;
    padding: 0 1px;
    border-radius: 40px;
    transform: rotate(0deg);
    margin-left: 10px;
    transition: all 0.5s;
}
button:hover i{
    display: inline-block;
    transform: rotate(405deg);
    color: antiquewhite;
}


/* youtube services section */
.youtube-services{
    background: #fff;
}
.box-container h2{
    color: #17a06c;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(230px, 100%), 1fr));
    gap: 1.5rem;
}

.service-container .youtube-card{
    background: var(--main-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: var(--box-shadow);
}
.youtube-card .card-content{

}

/* ---- Footer styles ----- */
.footer {
    
    background:#95977e;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    color: #332c06;
    text-decoration: underline;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2rem;
}

.footer ul li {
    display: inline;
}

.footer p {
    margin: 10px 0;
    color: #332c06;
}
